#start
	ul
		li.candidate [
			a(href='/candidate') Start as a candidate
			]
		li.interviewer [
			a(href='/interviewer') Log in as an interviewer
			]
		li.register [
			a(href='/interviewer') Register for an interviewer account
			]

