!!!
html
	head
		title CodeShare
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#container
			#header
				ul
					- if ( typeof(currentUser) != 'undefined' && currentUser )
						li.left
							h1
								a(href='/interviewer') CodeShare - Interviewer
						li.right.signout
							.divider |
							a#logout(href='/interviewer/logout') Sign Out
							span(style='padding-left:6px;') (#{currentUser.username})
						- if (typeof session != 'undefined')
							li.right Session #{session.id}
						- if (currentUser.username == 'admin')
							li.right
								.divider |
								a(href='/user') Users

					- else
						li.left
							h1
								a(href='/candidate') CodeShare

			#content
				!= body

