!!!
html
	head
		title CodeShare
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#container
			#header
				ul
					- if ( typeof(currentUser) != 'undefined' && currentUser )
						li.left
							h1
								a(href='/interviewer') CodeShare - Interviewer
						li.right.signout
							.divider |
							a#logout(href='/interviewer/logout') Sign Out
							span(style='padding-left:6px;') (#{currentUser.username})
						- if (typeof session != 'undefined')
							li.right
								&nbsp;| Session #{session.id} (
								a(href='/interviewer/session/#{session.id}/close') close
								)
						li.right
							.divider |
							- if (currentUser.username == 'admin')
								a(href='/user') Users
							- else
								a(href='/user') Profile

					- else
						li.left
							h1
								a(href='/candidate') CodeShare

			#content
				!= body

