p
	u Edit Saved Text
br

form(method='post', action='/groups/#{group._id}/texts/#{savedtext._id}')
	input(type='hidden', name='_method', value='PUT')
	!=partial('shared/groupTextsEdit.jade', { locals: {but_submit:'Edit Saved Text', savedtext:savedtext, error:error} })
