script(type='text/javascript', src='/javascripts/jquery.min.js')

h1 Users
a(href='/users/new') Create New
br
br
table(border=0,cellspacing=0,cellpadding=4)
	- for(var u in users)
		tr
			td #{users[u].username}
			td
				- if (users[u].username != 'admin')
					a.delete(href='/users/'+users[u].username) Delete

br
br
h1 Groups
a(href='/groups/new') Create New
br
br
table(border=0,cellspacing=0,cellpadding=4)
	- for(var grp in groups)
		tr
			td #{groups[grp].name}
			td
				- if (groups[grp].name != 'admin')
					a(href='/groups/'+groups[grp]._id) Edit
					|
					a.delete(href='/groups/'+groups[grp]._id) Delete
					|
				a(href='/groups/'+groups[grp]._id+'/texts') Texts
				

script
	$('a.delete').live('click', function(e) {
		e.preventDefault();
		if (confirm('Delete this group?')) {
			var element = $(this),
				form = $('<form></form>');
			form
				.attr({
					method: 'POST',
					action: element.attr('href')
				})
				.hide()
				.append('<input type="hidden" />')
				.find('input')
				.attr({
					'name': '_method',
					'value': 'delete'
				})
				.end()
				.submit();
		}
	});

