p
	u New User
br

form(method='post', action='/user/new')
	table(border=0,cellspacing=0,cellpadding=4)
		tr
			td Username:
			td
				input(type='text',name='user[username]',value=user.username)
		tr
			td Password:
			td
				input(type='password',name='user[password]',value='')
		tr
			td First name:
			td
				input(type='text',name='user[first_name]',value=user.first_name)
		tr
			td Last name:
			td
				input(type='text',name='user[last_name]',value=user.last_name)

	input(type='submit',value='Create New User')

	span(style='color:red; padding-left:8px;')
		#{error}

