body {
  padding:0;
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
div,
form {
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

#header {
  width: 100%;
  height: 35px;
  list-style-type: none;
  margin: 0;
  padding: 0;
	color: #fff;
  background-color: #8897ba;
  background: -webkit-gradient(linear, left top, left bottom, from(#b2bed7), to(#8897ba));
  background: -moz-linear-gradient(top,  #b2bed7,  #8897ba);
  border-bottom: 1px solid #999;
}

#header ul {
  list-style-type: none;
  padding: 8px;
}
#header h1 {
  font-size: 16px;
  font-style:italic;
}
#header ul li.left {
  float: left;
}
#header ul li.right {
  float: right;
}
#header a {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  text-shadow: #f0f0f0 0 1px 0;
}

#content {
	padding:0px;
}



#content .session {
	width:100%;
	height:507px;
	border-bottom:1px solid #999;
	padding-bottom:4px;
}

#content .session .left {
	position:absolute;
	width:40%;
	border-right:1px solid #999;
}

#content .session .right {
	position:absolute;
	left:41%;
	width:40%;
	border-left:1px solid #999;
}

#content .session .left #myScreenLabel,
#content .session .right #otherScreenLabel {
	background-color:#f0f0f0;
	padding:4px 0 4px 8px;
	height:20px;
}

#content .session .left #myScreenContent,
#content .session .right #otherScreenContent {
	padding:8px 0 8px 8px;
	height:468px;
}

#content .session .left #myText,
#content .session .right #otherText {
	width:100%;
	border:0;
	background-color:#999;
}


#content .session .log {
	position:absolute;
	left:82%;
	width:17%;
	background-color:#DDD;
	border:1px solid #111;
	font-size:8pt;
	margin-top:4px;
}




