body
	padding 0
	margin 0
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif


h1
h2
h3
h4
h5
h6
p
ul
li
div
form
	margin 0
	padding 0

a
	color #00B7FF


#header
	width: 100%;
	height: 30px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #fff;
	background-color: #8897ba;
	background: -webkit-gradient(linear, left top, left bottom, from(#b2bed7), to(#8897ba));
	background: -moz-linear-gradient(top,  #b2bed7,  #8897ba);
	border-bottom: 1px solid #999;


#header ul
	list-style-type none
	padding 6px 10px 0 10px
	font-size 90%

#header ul li.left
	float: left;

#header ul li.left h1
	margin-top -2px
	font-size 12pt
	font-style italic

#header ul li.left h1 a
#header ul li.left h1 a:hover
	text-decoration none
	color #fff

#header ul li.right
	float: right;


#header ul li.right .divider
	display:inline;
	padding:0 8px 0 8px;


#header ul li.right a
	text-decoration: none;
	color: #fff;

#header ul li.right a:hover
	text-decoration: underline;


#content
	padding:8px;


#content #sessions
	margin-top 12px
	margin-left 4px

#content #sessions a#create
	text-decoration none
	background-color #d0d0d0
	border 1px solid #a0a0a0
	color #fff
	padding 1px 6px
	font-size 75%
	
#content #sessions #open
#content #sessions #closed
	font-weight bold
	margin-top 20px





#content .session
	width 100%
	position absolute
	top 46px
	left 0

#content .session .left
	width 48%
	margin-left 8px

#content .session .right
	position absolute
	top 0
	left 50%
	width 48%
	float right

#content .session .left #myScreenLabel
#content .session .right #otherScreenLabel
	padding-left 2px


#content .session .left #myScreenContent
#content .session .right #otherScreenContent
	padding 0

#content .session .left #myText
#content .session .right #otherText
	width 99%
	padding 4px
	background-color #f9f9f9
	color #000

#content .session .left #myText
	border 2px solid #ff9999
		
#content .session .right #otherText
	border 1px solid #999

#content .session .log
	position:absolute;
	right:4px;
	top:4px;
	width:200px;
	background-color:#dfdfdf;
	border:1px solid #111;
	font-size:8pt;
	padding:2px;

#content #myCommentsLabel
	margin-top 12px

#content #myComments
	width 99%


#login
	margin-top 20px

#login #wrapper
#login #form
	width 318px

#login #wrapper
	position absolute
	right 50%

#login #form
	position relative
	left 50%
	background-color #f0f0f0
	border 1px solid #d0d0d0
	padding 16px 8px
	text-align center

#login #form #fields
	text-align left
	width 316px

#login #form #password
	margin-top 4px
	
#login #form #username div
#login #form #password div
	width 100px
	text-align right
	float left
	
#login #form #username input
#login #form #password input
	width 200px
	margin-left 8px

#login #form input#submit
	margin-top 20px

#login #form #message
	color red
	margin-top 20px


#start
	text-align center
	padding-top 20px

#start ul
	list-style-type none
	margin-top 10px
	color #777

#start ul a
	text-decoration none
#start ul a:hover
	text-decoration underline

#start li.candidate
	padding-top 40px
	font-size 200%

#start li.interviewer
	padding-top 60px
	font-size 120%

#start li.register
	padding-top 30px
	font-size 120%

