p Welcome!
br

form(method='post', action='/candidate/register')
	span Please enter your code:
	span
		input#code(type='text', name='code', size=6, value='#{code}')
	span
		input(type='submit', value='Register')
	- if (error)
		span#error(style='color:red; padding-left:8px;')
			#{error}

script
	document.getElementById('code').focus();
	
