
#login
	#wrapper
		form#form(method='post', action='/interviewer/login')
			#fields
				#username
					div Username:
					input#iusername(type='text', name='username')
				#password
					div Password:
					input(type='password', name='password')
			input#submit(type='submit', value='Login')
			- if (typeof(error) != 'undefined')
				#message Invalid username or password

script
	document.getElementById('iusername').focus();

