!=partial('shared/session.jade', { locals: {session:session, isDebug:isDebug, isCandidate:false, myText:session.interviewerText, otherText:session.candidateText, myComments:session.interviewerComments} })

